<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sens.mapper.GoodsInfoMapper">
    <sql id="tableName">
        goods_info
    </sql>

    <sql id="baseColumn">
        id,name,category_id,thumbnail,carousel,content,price,stock_num,sell_num,status,create_time
    </sql>

