<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sens.mapper.OrderItemMapper">
    <sql id="tableName">
        order_item
    </sql>

    <sql id="baseColumn">
        id,order_id,goods_id,goods_name,goods_thumbnail,selling_price,goods_count,create_time
    </sql>

</mapper>